* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scrollbar-width: none;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}
